name: flutter_cielo_lio_sdk
description: A new Flutter plugin.
version: 0.0.1

environment:
  sdk: ">=2.1.0 <3.0.0"
  flutter: ">=1.10.0 <2.0.0"

dependencies:
  flutter:
    sdk: flutter
  path_provider: ^1.6.5

dev_dependencies:
  flutter_test:
    sdk: flutter

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:
  plugin:
    platforms:
      android:
        package: br.com.rsmarques.flutter_cielo_lio_sdk
        pluginClass: FlutterCieloLioSdkPlugin
      ios:
        pluginClass: FlutterCieloLioSdkPlugin
